@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h2>About Us</h2>
    <h3>Top Dog Pet Store</h3>
    <p>We are a small company with a couple of stores. We sell pet accessories.</p>
</div>
