@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Top Dog Pet Store collects personal data from users and uses this personal data to keep score on the user's progress through their online shopping experience. We collect their legal name, and email address. We store their legal name and email address.</p>
